{{ define "main" }}
<main>

    <h1 id="title">{{ .Title }}</h1>

    <div class="post-container">
        {{ range .Pages }}

        <div class="postbox">
            <h1>{{.Title}}</h1>
            {{ with .Resources.GetMatch "cover.*" }}
            {{ with .Fill "900x540 webp" }}
            <img class="cover" src="{{ .RelPermalink }}" alt="" draggable="false">
            {{ end }}
            {{ end }}
            <a class="entry-link" href="{{ .Permalink }}"></a>
        </div>

        {{ end }}

    </div>


    <!--    <ul>-->
    <!-- Ranges through content/posts/*.md -->
    <!--    {{ range .Pages }}-->
    <!--        <li>-->
    <!--            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>-->
    <!--        </li>-->
    <!--    {{ end }}-->
    <!--    </ul>-->

</main>
{{ end }}
