body {
    background-color: #1d1e20;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    margin: 0;
    padding: 0;
}