<div class="header-cont">
    <div class="nav">
        <div class="logo">
            <a href="{{ absURL "" }}" class="name">Marc Hyeler</a>
        </div>
        <div class="menu">
            <a href="{{ absURL "projects" }}" class="menu-link">Projects</a>
            <a href="{{ absURL "posts" }}" class="menu-link">Posts</a>
            <a href="{{ absURL "readme" }}" class="menu-link">README</a>
            <a href="{{ absURL "" }}" class="menu-link">Search</a>
        </div>
    </div>
</div>